/* About */
* {
    margin: 0;
    padding: 0;
  }
  #about-sidebar {
    position: fixed;
    display: block;
    align-items: center;
    background-color: #f3f5f9;
    float: left;
    width: 260px;
    min-height: 100vh;
    box-shadow: 0 0 1em #cccccc;
    /* background-image: linear-gradient(to top, #fffcfc, #77777c); */
    background-image: linear-gradient(240deg, #b8b3b3, #dadde2, #f3f5f9);
  }
  .about-img {
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  .about-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px #1d1d1d;
    object-fit: cover;
    object-position: 0 50%;
  }
  
  #about-content h3 {
    text-decoration: none;
  }
  .bio {
    margin-top: 15px;
    padding: 20px;
  }
  .about-widget {
    justify-content: center;
    display: flex;
  }
  .about-widget ul {
    list-style-type: none;
  }
  .about-widget li {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: sans-serif;
  }
  .about-widget li a {
    text-decoration: none;
    color: #5a5a5a;
  }
  .about-widget li a.active,
  .about-widget ul li a:hover {
    color: #ffffff;
  }
  .about-footer {
    margin-top: 66px;
  
    padding: 10px 15px;
    box-shadow: 0 0 1em #cccccc;
  }
  .about-footer p {
    font-size: 15px;
    text-align: center;
  }
  
  /* about main */
  
  #about-main {
    display: flex;
    margin-left: 260px;
    background-color: #f1f1f1;
    width: 1089px;
    height: 100vh;
    background-size: cover;
  }
  .Text {
    margin-top: 150px;
    position: relative;
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 50px;
    font-family: "montserrat";
    z-index: 1;
  }
  .Text h1.top {
    font-size: 50px;
    color: #000000;
    letter-spacing: 2px;
  }
  .Text h1.bottom {
    font-size: 50px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .about-quotes {
    color: black;
    margin-top: 10px;
  }
  .about-quotes i {
    font-size: 24px;
    font-weight: bold;
  }
  
  .feather-icons {
    display: flex;
    margin: 10px;
    margin-left: 0px;
  }
  .feather-icons svg {
    margin: 5px;
  }
  .icon-lg {
    width: 40px;
    height: 40px;
  }
  .feather-icons a {
    color: #0c0b0b;
  }
  .feather-icons a:hover {
    color: #968f8f;
  }
  .image img {
    width: 620px;
    height: 100vh;
  }